<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">🏠 Головна</NavLink></li>
        <li><NavLink href="/rooms">🛏️ Кімнати</NavLink></li>
        <li><NavLink href="/users">👤 Користувачі</NavLink></li>
    </ul>
</nav>
