@model Reservation.Models.ViewModels.RoomListViewModel

@foreach (var room in Model.Rooms)  
{
    <partial name="RoomSummary" model="room" />
}


<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PagingInfo.CurrentPage ? "active" : "")">
                <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }
    </ul>
</nav>
